@media screen and (min-width: 1280px) {    
    header{
        position:relative;
        & img{
            // width: 90px;
            margin: auto;
        }
    }
    body{
        margin: auto;
        box-shadow: 0 0 1em #D9D9D9;
    }
    .burger-icon span, .sidenav .close{
        display: none;
    }
    #lang {
        width: 100px;
        background-color: #818181;
        // margin: 0;
        // padding: 0;
    }    
    .sidenav {
        height: auto;
        width: 100%;
        position: relative;     
        top: auto;
        left: auto;
        padding-top: 0;
        transition: top 0.5s ease;
        & ul{
            display: flex;
        }
        & a{
            font-size: 1.2em;
        }
    }
    video{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 1em #D9D9D9;
    }
    .flexi{
        flex-direction: row;
        flex-wrap: wrap;
        & figure{
            margin: 0 0 18px 0;
            max-width: 400px;        
            // box-shadow: 0 0 1em #D9D9D9;
            & img{
                width: 100%;
            }
        }
    }
    footer{        
        flex-direction: row;
        justify-content: space-between;     
        & i{
            font-size: 4em;
        }
    }
}

