$colorbackground:white;
// pas utilisé encore :
$colorprimary: #464646;
$colorsecondary: #FF79DA;
$colortertiary: #99E2D0;
$colorgreytext1: #5c5c5c;
$shadowmobile: 0px 0px 10px darkgrey;
$shadowbox:1px 5px 18px darkgrey;