$colorbackground:white;
// pas utilisé encore :
$colorprimary: #313131;
$colorsecondary: #FF79DA;
$colortertiary: #99E2D0;
$colorgreytext1: #5c5c5c;
$shadowmobile: 0 0 1em #D9D9D9;
$shadowbox:1px 5px 18px darkgrey;