@import "./variables";
@import "./menu_burger";
@import "./animations";
*{
    box-sizing: border-box;
    text-shadow: 0 0 2px grey; 
}
a{
    text-decoration: none;
    &:visited{
        color: $colorprimary;
    }
}
body
{
    margin: 0;    
    padding: 0;
    min-width: 380px;
    max-width: 1400px;
    background: $colorbackground;
    color: $colorprimary;
    font-family: "Avenir Next", "Avenir", sans-serif;
    animation: fromUp 1.8s;    
}
header{    
    position:sticky;
    background-color: $colorbackground;
    top:0px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
        margin: -10px 0 -10px 0;
        width: 70px;
    }
}
h1, h2{
    text-align: center;
}
main{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    & p{
        text-align: center;
        margin: 0 5px;
    }
}
video{    
    max-width: 100%;
    min-height: 250px;
    object-fit: cover;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    box-shadow: $shadowmobile;
}
figure{        
    margin: 0;
    padding: 0;    
    & img{        
        width: 100%;
    }
}
.flexi{    
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    & a{
        box-shadow: $shadowmobile;
        margin: 10px 0 10px 0;
        padding: 0 0 20px 0;
        max-width: 800px;        
    }
}
#feednpart {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


#partnairesListe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    & img {
        margin: 5px;;
        width: 100px;
    }
}
#whoweare {
    & figure{
        margin: 20px 0 18px 0;
        padding-bottom: 10px;
        max-width: 100%;        
        box-shadow: $shadowmobile;
        & img{
            width: 100%;
        }
    }
}
footer{
    margin-top: 0;
    padding: 10px;
    background-color: lightcyan;
    text-align: center;
    & p {
        margin-top: 0;
    } 
    & #footicons{
        display: flex;
        padding: 0;
        justify-content:center;
        & img{
            width: 50px;
            margin: 10px 20px 10px 20px;
        }
    }    
}
// pages
img {
    width: 100%;
}
#headsection {
    display: flex;
    flex-direction: column;
    max-height: 280px;
    & h1 {
        margin-top: -160px;
    }
    & img {
        max-height: 280px;
        object-fit: cover;
    }
}
#headsection h1, #headsection h2{
    color: white;
    font-size: 1.8em;    
}
#mainsection {
    margin-top: 20px;    
}

.fleximg {
    margin-top: 20px;
}
.flextext p {
    text-align: justify;
}


// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

