@import "./variables";
@import "./menu_burger";
@import "./animations";
*{
    box-sizing: border-box;
    text-shadow: 0 0 4px grey; 
}
a{
    text-decoration: none;
    &:visited{
        color: $colorprimary;
    }
}
body
{
    margin: 0;    
    padding: 0;
    min-width: 386px;
    max-width: 1400px;
    background: $colorbackground;
    color: $colorprimary;
    font-family: "Avenir Next", "Avenir", sans-serif;
    animation: fromUp 1.8s;
}
header{    
    position:sticky;
    background-color: $colorbackground;
    top:0px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
        margin: -10px 0 -10px 0;
        width: 70px;
    }
}
h1{
    text-align: center;
}
main{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    & p{
        text-align: center;
        margin: 0;
    }
}
video{    
    max-width: 100%;
    min-height: 250px;
    object-fit: cover;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;    
    box-shadow: 0 0 1em #D9D9D9;
}
.flexi{    
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    
    & figure{
        margin: 0 0 18px 0;
        max-width: 100%;        
        // box-shadow: 0 0 1em #D9D9D9;
        & img{
            width: 100%;
        }
    }
}

footer{
    margin-top: 10px;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;    
    & #footicons{
        display: flex;
        justify-content:center;
        & img{
            width: 50px;
            margin: 20px;
        }
    }    
}
// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

