@import "./menu_burger.scss";
@import "./Desktop.scss";
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body
{
    margin: 5px;
    padding: 5px;
    min-width: 386px;
    max-width: 1400px;
    background: rgb(250, 250, 250);
    color: #4d4d4d;
    font-family: "Avenir Next", "Avenir", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    & img{
        width: 50px;
    }
}
h1{
    text-align: center;
}
video{
    position: absolute;
    max-width: 100%;
    min-height: 250px;
    object-fit: cover;
    margin: 0 -10px 0 -10px;
    padding: 0 0 0 0;
    // border-radius: 10px;
    box-shadow: 0 0 1em #D9D9D9;
}
