<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="home.aspx" />
        <add value="home.asp" />
        <add value="home.htm" />
        <add value="home.html" />
        <add value="default.aspx" />
        <add value="default.asp" />
        <add value="default.htm" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
  <location path="fr-home">
    <system.webServer>
      <httpRedirect enabled="true" destination="index.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
   <location path="en-home">
    <system.webServer>
      <httpRedirect enabled="true" destination="en/index.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
   <location path="en-services">
    <system.webServer>
      <httpRedirect enabled="true" destination="en/services-prices-bilene-kitesurf-mozambique.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="en-contact">
    <system.webServer>
      <httpRedirect enabled="true" destination="en/infomations-mozambique.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="en-the-spot">
    <system.webServer>
      <httpRedirect enabled="true" destination="en/the-kitesurf-spot-in-bilene-mozambique.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="en-kite-center">
    <system.webServer>
      <httpRedirect enabled="true" destination="en/the-kite-center-in-bilene-mozambique.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>

